
OPENWEATHER_API_KEY=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_TO=

# Strava OAuth (adicionar também no Vercel)
NEXT_PUBLIC_STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
NEXT_PUBLIC_STRAVA_REDIRECT_URI=https://mtb-forecast-app-git-develop-sadouglasdhs-projects.vercel.app/admin/importar-strava/callback
